.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main sidebar" "footer footer footer footer";
}

.navbarul {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 27, 27);
}

.navbarli {
    float: left;
}

.navbara {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarli a:hover {
    background-color: rgb(56, 52, 52);
}